<!DOCTYPE html>
<html lang="en" ng-app="ExampleApp">
<head>
    <meta charset="UTF-8">
    <title>Form Example</title>
    <script src="../bower_components/angular/angular.js"></script>
    <script>
        var app = angular.module('ExampleApp',[]);

        app.controller('DefaultCtrl', function($scope) {
            $scope.inputDate = function(data) {
                if ( data.num > 0 ) {
                    console.log('Positive Number : ', data.num, ' - ', data.text);
                }
                else {
                    console.log('Negative or Zero');
                }
                $scope.data.text = '';
                $scope.data.num = 0;
            }
        });
    </script>
</head>
<body ng-controller="DefaultCtrl">

<h1>Form Example 1</h1>
<form>
    Text : <input type="text" ng-model="data.text" /><br>
    Number(>0) : <input type="number" ng-model="data.num" required /><br>
    <input type="reset" />
    <input type="submit" ng-click="inputDate(data)" />
</form>

</body>
</html>