<!DOCTYPE html>
<html lang="en" ng-app="ExampleApp">
<head>
    <meta charset="UTF-8">
    <title>Control Example</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script>
        var app = angular.module('ExampleApp', []);
        app.controller('DefaultCtrl', function($scope) {
            $scope.data = [1, 2, 3, 4, 5, 6, 7];
//            $scope.greeing = 'Hello Angular';
            $scope.good = false;

            $scope.sum = function() {
                var result = 0;
                angular.forEach(data, function(item) {
                    result += item;
                });
                return result;
            }
        });
    </script>

</head>
<body ng-controller="DefaultCtrl" ng-init="title='Control Example'">

<div ng-init="greeing = 'Hello Angular'">
    <h1>Model Intialization</h1>
    <p>{{greeing}}</p>
</div>

<div>
    <h1>Loop Example</h1>
    <ul>
        <li ng-repeat="item in data">{{item}}</li>
    </ul>
</div>



<h1>ForEach</h1>
<div>Sum : {{ sum() }}</div>

<h1>Conditional Example</h1>

<div ng-if="good">I'm Good.</div>
<div ng-if="!good">I'm not Good.</div>

<div ng-if="data.length >= 3">데이터의 개수가 3개 이상</div>

<div ng-model="switchValue = '3'">
    <h1>Switch-Case</h1>
    <div ng-switch="switchValue">
        <h3 ng-switch-when="1">One</h3>
        <h3 ng-switch-when="2">Two</h3>
        <h3 ng-switch-when="3">Three {{title}}</h3>
        <h3 ng-switch-default>Other</h3>
    </div>
</div>



</body>
</html>