<html>
<body>
<h1>Sign Up</h1>
<% if ( message ) { %>
<div style='color:red;'><%= message %></div>
<% } %>
<form method='post' action='/signup'>
<ul>
<li>ID : <input type='text' name='id'></li>
<li>PW : <input type='password' name='password'></li>
<li>이름 : <input type='text' name='name'></li>
</ul>
<input type='submit' value='가입'>
</form>

</body>
</html>