<div ng-controller="MovieListCtrl">
    <h1>영화 목록t</h1>
    <ul ng-repeat="movie in movies">
        <li><a href="#/movies/{{movie._id}}">{{movie.title}}<a/></li>
    </ul>

    <h3>새 영화 추가</h3>
    <form>
        Title : <input ng-model="newMovie.title"><br />
        Director : <input ng-model="newMovie.director"><br />
        Year : <input ng-model="newMovie.year" type="number"><br />
        Synopsis : <input ng-model="newMovie.synopsis" type="text"><br />
        <input type="submit" ng-click="addNewMovie(newMovie)">
    </form>
</div>

