<!DOCTYPE html>
<html ng-app="ExampleApp">
<head>
    <meta charset="UTF-8">
    <title>Angular Multipart Example</title>
    <script src="node_modules/angular/angular.js"></script>
    <script>
        angular.module('ExampleApp', []).controller('DefaultCtrl', function($scope){
           $scope.upload = function(form) {
              console.log('form : ', form);
              console.log('form.files : ', form.files);
              console.log('form.myForm : ', $scope.myForm);
              console.log('file : ', $scope.file);
              console.log('text : ', $scope.text);
           }
        });
    </script>
</head>
<body ng-controller="DefaultCtrl">
   <h1>Mutlipart Form</h1>
   <form>
      <input type="file" ng-model="file">
      <input type="text" ng-model="text">
      <input type="submit" ng-click="upload(this)">
   </form>
   <input type="text" ng-model="text3">
</body>
</html>