<html>
<body>
<h1>Login Page</h1>
<div>Login 상태 : <%= isAuthorized %></div>

<% if ( isAuthorized ) { %>

<a href="logout">로그아웃</a>

<% } else { %>

<form method='post' action='/login'>
<ul>
<li>ID : <input type='text' name='username'></li>
<li>PW : <input type='password' name='password'></li>
</ul>
<input type='submit' value='로그인'>
</form>

<% } %>

<h3><a href="myHome">My Home</a></h3>

</body>
</html>