<html>
<body>
<h1>My Home</h1>

<ul>
   <li> 이름 : <%= user.name %> </li>
   <li> 이메일 :  <%= user.email %></li>
   <li> 프로필 사진 : <img src="<%= user.picture %>"></img><li>
</ul>

<div><a href="/login">로그인 페이지</a></div>
</body>
</html>