<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>
<body>
<div class="container">

<head><h3>My Profile</h3></head>

<section>
<head><h4>이름</h4></head>
<%= user.name %>
</section>

<section>
<head><h4>이메일</h4></head>
<%= user.email %>
</section>

<section>
<head><h4>프로필 사진</h4></head>
<img src="<%= user.picture %>"></img>
</section>

<section>
<head><h4>최근 포스트</h4></head>

<% feed.forEach(function(item) { %>
<article>
<p>
   <% var text = item.message || item.story %>
   <%= text %>
</p> 
</article>
<% }) %>


</div>

</body>
</html>