<html>
<body>
<h3>Passport Authentication Example</h3>

<ul>
<% if ( isLoggedIn ) { %>
<li><a href="./logout">Logout</a></li>
<% } else { %> 
<li><a href="./login">Login</a></li>
<li><a href="./signup">Sign Up</a></li>
<% } %>
<li><a href="./mypage">My Page</a></li>
</ul>

</body>
</html>