<html>
<body>
<h3>Login Page</h3>
<form method='post' action='/login'>
<ul>
<li>ID : <input type='text' name='username'></li>
<li>PW : <input type='password' name='password'></li>
</ul>
<input type='submit' value='로그인'>
</form>

</body>
</html>