<html>
<head>
<meta chatset="UTF-8">
</head>
<body>
<h1><%= title %></h1>
<ul>
<% movieList.forEach(function(item) { %>
   <li> <%= item.title %></li>
<% });%>
</ul>
<div>
<a href="/newMovie">Add new Movie</a>
</div>
</body>
</html>