<!DOCTYPE html>
<html lang="en" ng-app="ExampleApp">
<head>
    <meta charset="UTF-8">
    <title>Call Function Across</title>
    <script src="../bower_components/angular/angular.js"></script>
    <script>
        angular.module('ExampleApp', []).controller('DefaultCtrl', function($scope) {
            $scope.sayHello = function() {
                console.log('Hello!');
            }
        });

        function sayGoodbye() {
            console.log('Bye bye');
        }
    </script>
</head>
<body ng-controller="DefaultCtrl" id="ctrl">

<input type="button" ng-click="sayHello()" value="ngClick to Call Function in ngController"> <br />
<input type="button" ng-click="sayGoodbye()" value="ngClick to Call function not in ngController"> <br />
<input type="button" onclick="angular.element(document.getElementById('ctrl')).scope().sayHello()" value="onClick to Call function in ngController"><br />
<input type="button" onclick="sayGoodbye()" value="onClick to Call function not in ngController">

</body>
</html>