<html>
<body>
	<h3>Movies</h3>
	<ul>
	<% if ( movieList ) {%>
		<% movieList.forEach(function(movie) { %>
			<li> <a href="movies/<%= movie._id %>"> <%= movie.title %> </a> </li>
		<% }); %>
	<% } %>

	</ul>
	<!-- 정적 파일 처리 -->
	<a href='newMovie.html'>Add Movie</a>
</body>
</html>
