<!DOCTYPE html>
<html lang="en" ng-app='ServiceExample'>
<head>
    <meta charset='UTF-8'>
    <title>Service Example</title>
    <script src='../bower_components/angular/angular.js'></script>
    <script>
        angular.module('serviceModule',[]).factory('addService', function() {
            var service = {};

            service.add = function(i, j) {
                return i + j;
            }

            return service;
        });

        angular.module('ServiceExample', ['serviceModule']).controller('DefaultCtrl', ['$scope','addService', function($scope, addService) {

            $scope.addNumber = function() {
                console.log('Add : ', $scope.num1, $scope.num2);
                $scope.result = $scope.num1 + $scope.num2;
            }
        }]);
    </script>

</head>
<body ng-controller='DefaultCtrl' ng-init="num1=0;num2=0;result=0">
    <h1>Add Service</h1>
    <div>
        Operand1 : <input ng-model="num1" type="number" ng-change="addNumber()">
        Operand2 : <input ng-model="num2" type="number" ng-change="addNumber()">
        Result : <input ng-model="result" readonly>
    </div>
</body>
</html>